.App {
    height: 100vh;
    max-height: -webkit-fill-available;
    overflow: hidden;
    background: radial-gradient(86.64% 87.21% at 14.72% 0%, #414242 0%, #0A0A0B 100%);
}

.ant-spin-blur::after {
    opacity: 0.5;
}

.ant-spin-blur {
    background-color: black;
    opacity: 0.5;
}

.ant-spin-container {
    transition: none;
    background-color: transparent;
}

.ant-spin-container::after {
    background-color: #131414;
}

.ant-spin-nested-loading {
    background-color: #131414;
}